:root {
    --bg-primary: #c2c2c2;
    --bg-secondary: #afafaf;
    --text: #000000;
    --input: #e9e9e9;
    --input-hover: #cecece;
    --error: #8b0000;
    --success: #adff2f;
    --link: #ffffff;
}

body {
    margin: 0;
    color: var(--text);
    background-color: var(--bg-primary);
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 200px auto 0 auto;
    padding: 10px;
    width: min(500px, 95vw);
    box-sizing: border-box;
    background-color: var(--bg-secondary);
    border-radius: 10px;
}

.title {
    padding: 5px 0;
    text-align: center;
    font-size: 24px;
}

input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--input);
}

input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--input-hover);
}

.error {
    text-align: center;
    color: var(--error);
    padding: 5px 0;
}

.link {
    text-align: center;
    font-size: 18px;
    color: var(--success);
    padding: 5px 0;
}

.link a {
    text-decoration: none;
    color: var(--link);
}

.link a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px 0;
    background-color: var(--bg-secondary);
    text-align: center;
    font-size: 16px;
}

footer a {
    color: var(--error);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.about {
    text-align: center;
}